<h2>About Me</h2>
<figure class="hz-bio-image">
	<img src="http://s3.amazonaws.com/hannzimm-assets/media/ui/photo-of-me.jpg">
</figure>

<div class="hz-highlight-paragraph">
	<p>I just finished my final year of landscape architecture at California Polytechnic State University in San Luis Obispo, CA. I was born and raised in Santa Barbara, which drew me to explore the nature and innovative architecture around me.</p>
	<p>I entered Cal Poly as a City and Regional Planning student because I was captivated with the idea of transforming areas for people to use and enjoy. From here I was drawn to smaller scale details because I am a perfectionist. I find joy in figuring out every detail of a project. Landscape architecture sounded like the perfect niche because it was able to combine nature, something I escape to with any opportunity and art, a lifetime passion of mine. There is no doubt in my mind that this is the career path for me because after five years I am still passionate about the profession. I catch myself watching tutorials and researching current projects endlessly.</p>
	<p>I am fascinated by the idea of pushing the design envelope to make environments more sustainable, while simultaneously surpassing the societal needs.</p>
</div>

