<h2>Contact Me</h2>

<strong>Email</strong>
<p><a href="mailto:hannzimm@hotmail.com">hannzimm@hotmail.com</a></p>

<strong>Phone</strong>
<p><a href="tel:805-698-9665" class="nolink">(805) 698-9665</a></p>

<strong>LinkedIn</strong>
<p><a href="http://www.linkedin.com/pub/hannah-zimmerman/84/99b/7a1">linkedin.com</a></p>

<strong>Pinterest</strong>
<p><a href="http://pinterest.com/hannzimm">pinterest.com/hannzimm</a></p>

<strong>Facebook</strong>
<p><a href="https://www.facebook.com/hannah.zimmerman.1690">facebook.com</a></p>

<strong>Issuu</strong>
<p><a href="http://issuu.com/hannahzimmerman">issuu.com/hannahzimmerman</a></p>
