<div id="intro-content">
    <h1>Hannah Zimmerman</h1>
    <p>At labo. Iquiate moloreptat. Occaborest, aliciiscid mo temolest am cus modis aut ut fugiam as exendit enihili quatem a quibusd andicit aut offictet modigen</p>
</div>
<ul class="hz-images-display">
	<li ng-repeat="category in categories">
		<a ng-href="/category/{{category.name | titleCaseToDash}}">
			<figure>
				<img ng-src="assets/media/images/categories/{{category.name | titleCaseToDash}}/{{category.projects[0].title | titleCaseToDash}}/display/{{category.projects[0].images[0].src | titleCaseToDash}}">
				<figcaption><span>{{category.name}}</span></figcaption>
			</figure>
		</a>
	</li>
</ul>