<div id="intro-content">
    <h1>Hannah Zimmerman</h1>
    <p>Welcome to my design portfolio. I am a landscape designer who is passionate about
creating sustainable spaces for people to use and enjoy.</p>
<small>Click on the following images to explore some of my recent projects.</small>
</div>
<ul class="hz-images-display">
	<li ng-repeat="category in categories">
		<a ng-href="/category/{{category.name | titleCaseToDash}}">
			<figure>
				<img ng-src="assets/media/images/categories/{{category.name | titleCaseToDash}}/{{category.display.project | titleCaseToDash}}/display/{{category.display.img | titleCaseToDash}}">
				<figcaption><span>{{category.name}}</span></figcaption>
			</figure>
		</a>
	</li>
</ul>