@import compass/reset
@import compass/css3
@import mixins
@import media
@import variables
@import fonts

/* for dev purposes */
//	@include box-shadow(#aaa 0 0 0 1px inset)
*
	@include appearance(none)
	margin: 0
	padding: 0

input:focus, select:focus, textarea:focus, button:focus, a:focus
	outline: none

/* frame */
body
	zoom: 1
	font-family: GudeaRegular, serif
	*
		overflow: hidden
	h1, h2, h3, h4, h5, span, em, strong, b, u, label, form, input
		overflow: visible


/* global styles */
h1
	font-size: 35px

h2
	font-size: 30px
	line-height: 50px
	font-family: BebasNeueRegular, sans-serif
	text-transform: uppercase
	margin-bottom: 40px

h3
	font-size: 22px

h4
	font-size: 18px

h5
	font-size: 16px

p
	font-size: 14px
	line-height: 18px

a[href]
	color: black
	text-decoration: none
	&:hover
		text-decoration: underline
		&.nolink
			text-decoration: none
			cursor: default
strong
	display: block
	padding-top: 20px
	color: $accent-color
	&:nth-of-type(1)
		padding-top: 0px

/** reuseable (app-scope) classes **/

/* buttons */
.button
	cursor: pointer
	border: none

.text-link
	color: red

.mid-wrapper
	text-align: center

/* inputs */
@import "views/**/*.sass"
